.bloque {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}

.details {
    background-color: var(--color-secondary);
    padding: 10px;
    border-radius: 5px;
}

.summary {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
    transition: color 0.3s;
}

.summary::before {
    content: "▶"; /* Agrega un triángulo apuntando a la derecha */
    margin-right: 10px;
    font-size: 18px;
}

.summary:hover {
    color: var(--color-text-hover);
}

.details[open] .summary::before {
    content: "▼"; /* Cambia el triángulo a apuntar hacia abajo cuando está abierto */
}

.bloque_clase {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--gris);
}

.clave {
    font-weight: bold;
    margin-right: 5px;
    color: var(--color-primary)
}