main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

img {
    width: 400px;
}

.bloque {
    border: black 4px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    height: 400px;
    justify-content: space-around;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 24px;
    font-weight: 600;
}

.button {
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.2s;
    width: 140px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.button:hover {
    background-color: #fa5b41;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

input {
    width: 200px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 20px;
    color: #424242;
}

input:focus {
    outline: 2px solid black;
    border: 1px solid transparent;
    border-radius: 6px;
    color: black;
}