.h4 {
    font-size: 28px;
    font-weight: 500;
}

.bloque, .bloque_asignatura {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
}

.bloque_asignatura {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    background-color: #f6f6f6;
}

.bloque_titulo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    gap: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

.details {
    background-color: var(--gris);
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 600px;
}

.summary {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    background-color: var(--gris);
    border-radius: 3px;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details:closed {
    background-color: #f4f4f4; /* Color de fondo cuando está cerrado */
    border-color: #ccc;        /* Borde cuando está cerrado */
}

.summary::before {
    content: "▶"; /* Agrega un triángulo apuntando a la derecha */
    margin-right: 10px;
    font-size: 18px;
}

.summary:hover {
    color: var(--button-hover);
}

.details[open] .summary::before {
    content: "▼"; /* Cambia el triángulo a apuntar hacia abajo cuando está abierto */
}

.bloque_clase {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--gris);
}

.clave {
    font-weight: bold;
    margin-right: 5px;
}


.borrar {
    background-color: var(--red);
    color: var(--button-text);
    padding: 3px 6px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.borrar:hover {
    background-color: var(--red-hover);
}
