.form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.input {
    font-size: inherit;
    outline: none;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 6px 10px;
    transition: border 0.3s;
}

.input:hover {
    border-color: var(--orange);

}

.input:focus {
    border: 2px solid var(--button-hover);
    border-color: var(--orange);
}

.select {
    font-size: inherit;
    outline: none;
    border: 2px solid #000000;
    transition: border 0.3s;
    border-radius: 10px;
    outline: none;
}

.select:hover {
    border-color: var(--orange);
}

.select:focus {
    border-color: var(--orange);
    
}

.button {
    font-size: inherit;
    border: 2px solid var(--button-bg);
    border-radius: 10px;
    padding: 6px 10px;
    background-color: var(--button-bg);
    color: var(--button-text);
    transition: background-color 0.3s, border 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
    border: 2px solid var(--button-hover)
}

.checkbox {
    border-radius: 10px;
    display: none;
}

.label {
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: 2px solid #000000;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
}

.checkbox:checked + .label {
    background-color: var(--button-hover);
    border: 2px solid var(--button-hover);
    color: var(--button-text);
}
