.label {
    font-size: 16px;
    font-weight: 500;   
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.generar {
    display: flex;
    gap: 20px;
}

.button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    font-weight: 500;
}

.button:hover {
    background-color: var(--button-hover);
}

.button:disabled {
    background-color: var(--button-disabled);
    color: var(--button-text);
    cursor: not-allowed;
}

.input {
    font-size: inherit;
    outline: none;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 6px 10px;
    transition: border 0.3s;
    font-size: 20px;
}

.input:hover {
    border-color: var(--orange);
}

.input:focus {
    border: 2px solid var(--button-hover);
    border-color: var(--orange);
}

.input[type="number"] {
    text-align: center;
}