.generar {
    display: flex;
    gap: 20px;
}

.button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    font-weight: 500;
}

.button:hover {
    background-color: var(--button-hover);
}

.button:disabled {
    background-color: var(--button-disabled);
    color: var(--button-text);
    cursor: not-allowed;
}
