.bloque {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 20px;
    list-style-type: disc;
}