.bloque {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 350px;
    border-radius: 15px;
    padding: 30px;
    background-color: var(--color-secondary);
}

.bloque_elemento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.texto {
    align-self: flex-start;
    font-size: var(--h3-size);
    font-weight: 600;
}